.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);

  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  width: 500px;
  height: 300px;
  padding: 20px;

  background-color: #fff;
  border-radius: 10px;
  border: 1px solid gray;

  position: relative;
}

.close {
  position: absolute;
  right: 20px;
  top: 20px;
}